* {
    box-sizing: border-box;
}

h5 {
    margin-top: 0;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a:link {
	color: #0B3C5D;
}

a:visited {
	color: purple;
}

a:hover, a:active {
    text-decoration: none;
	color: #328CC1;
}

.note {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	border-top: 2px solid black;
	padding: 20px;
	text-transform: lowercase;
	font-size: 12px;
	color: #555555;
	clear: both;
}


#navbar {
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid black;
    padding: 30px 10px; /* 90 10 */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    font-variant: small-caps;
}

#navbar a:hover {
    background-color: darkgrey;
    color: black;
}

#navbar a.active {
    background-color: #053C5D;
    color: white;
}

#navbar-right {
    vertical-align: bottom;
    float: right;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}

/* Standings Table */

#standing-table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
}

#standing-table tr {
	height: 35px;
}

#standing-table th {
	padding: 3px;
	font-size: 15px;
    background-color: #0B3C5D;
    color: white;
	text-transform: uppercase;
}

#standing-table td, #standing-table th {
    border: 1px solid #ddd;
}

#standing-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#standing-table td:first-child {
	text-align: center;
	width: 1%;
	font-size: 13px;
}

#standing-table tr:last-child {
	text-align: center;
	width: 20%;
	padding-right: 5px;
	font-size: 13px;
}

#standing-table td:nth-child(n+2):nth-child(-n+16), #standing-table th:nth-child(n+2):nth-child(-n+16) {
	width: 5%;
}

#standing-table tr:hover {
	background-color: #ddd;
}

/* Main stuff */

#main-header {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	color: #FF8000;
	text-transform: uppercase;
    font-variant: normal;
    margin-bottom: 0;
    margin-top: 0;
}

.citl-slogan {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 1;
	font-size: 18px;
	letter-spacing: 3px;
	color: #FF8000;
	display: block;
	text-align: right;
	top: 17px;
   text-transform: uppercase;
}

.general-text {
	font-family: "Arial";
	font-size: 20px;
	text-decoration: none;
	color: #404040;
	letter-spacing: .8px;
	text-transform: none;
	padding-bottom: 30px;
	line-height: 1.6;
}

/* Warning table */

.warning_table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	border-collapse: collapse;
	table-layout: auto;
	width: 90%;
	border-style: solid;
	border-width: 0px 0px 0px 10px;
	border-color: #ffff80;
	margin-top: 20px;
}

.warning_table th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: red;
	clear: both;
	background-color: #ffffcc;
	padding-top: 10px;
}

.warning_table td {
	text-align: left;
	background-color: #ffffcc;
	padding: 15px;
}

/* Collapsible scorecards */

.collapsible {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: white;
	color: #0B3C5D;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	border-top: 2px solid black;
	text-align: left;
	outline: none;
	font-size: 17px;
}

.active, .collapsible:hover {
	background-color: #328CC1;
	color: white;
}

/* Collapsible scorecards */

.collapsible {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: white;
	color: #0B3C5D;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	border-top: 2px solid black;
	text-align: left;
	outline: none;
	font-size: 17px;
}

.active, .collapsible:hover {
	background-color: #328CC1;
	color: white;
}

.collapsible:after {
	content: '\002B';
	color: #053C5D;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
/* causing issues with Home button
.active:after {
	content: "\2212";
	color: #053C5D;
} */

.scorecard {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}


/* Scorecard Tables */

.scorecard-tables {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
}

.scorecard-tables tr {
	height: 25px;
}

.scorecard-tables th {
	padding: 3px;
	font-size: 15px;
    background-color: #053C5D;
    color: white;
	text-transform: uppercase;
}

.scorecard-tables td, .scorecard-tables th {
    border: 0px solid #ddd;
}

.scorecard-tables tr:nth-child(even) {
	background-color: #f2f2f2;
}

.scorecard-tables td:first-child {
	text-align: left;
	width: 20%;
	padding-left: 5px;
	font-size: 13px;
}

.scorecard-tables tr:nth-last-child(-n+3) {
	text-align: center;
	width: 20%;
	padding-right: 5px;
	font-size: 15px;
	color: white;
	background-color: #053C5D;
}

.scorecard-tables tr:nth-last-child(-n+3):hover {
	background-color: #105989;
}

.scorecard-tables td:nth-child(n+2):nth-child(-n+20), .scorecard-tables th:nth-child(n+2):nth-child(-n+20) {
	width: 4%;
	font-size: 11px;
}

.scorecard-tables tr:hover {
	background-color: #ddd;
}

/* Shooter Tables formatting */

.shooter-tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
    border-collapse: collapse;
    min-width: 40%;
	text-transform: uppercase;
}

.shooter-tables td, .shooter-tables th {
    border: 1px solid #ddd;
    padding: 8px;
	padding-right: 20px;
}

.shooter-tables tr:nth-child(even) {
	background-color: #f2f2f2;
}

.shooter-tables tr:hover {
	background-color: #ddd;
}

.shooter-tables th {
    text-align: left;
    background-color: #009933;
    color: white;
}

/* Bonus Tables */

.bonus-tables {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.bonus-tables tr {
	height: 35px;
}

.bonus-tables th {
	padding: 3px;
	font-size: 14px;
    background-color: #0B3C5D;
    color: white;
	text-transform: uppercase;
}

.bonus-tables td, .bonus-tables th {
    border: 1px solid #ddd;
}

.bonus-tables tr:nth-child(even) {
	background-color: #f2f2f2;
}

.bonus-tables td:first-child {
	text-align: center;
	width: 5%;
	font-size: 14px;
}

.bonus-tables td:nth-child(n+2):nth-child(-n+16), .bonus-tables th:nth-child(n+2):nth-child(-n+16) {
	width: 5%;
}

.bonus-tables tr:hover {
	background-color: #ddd;
}
